

/* Cover ------------------------------------------------------ */

img.quarto-cover-image {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}


/* Headings ------------------------------------------------------ */

#title-block-header.quarto-title-block.default .quarto-title h1.title {
  margin-bottom: 0.5rem;
}


.quarto-section-identifier {
  color: #6C6C6C;
  font-weight: normal;
}



h1 {
  color: #6C6C6C;
  font-family: Arial;
  font-size: 2.0em;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-weight: bold;
  /*background:  darkgreen;*/
}

/* Style for subsections (##) */
h2 {
  color: navy;
  font-family: Arial;
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
    
}

/* Style for subsections (###) */
h3 {
  color: navy;
  font-family: Arial;
   font-weight: bold;
   text-align: center;
   margin-top: 1rem;
  margin-bottom: 0.5rem;
   font-size: 1.2rem; 
 }

h4 { font-size: 1.1rem; 
margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  
}


h5 {
  color: navy;
  font-family: Arial;
   font-weight: bold;
   text-align: left;
   margin-top: 0.5rem;
  margin-bottom: 0.5rem;
   font-size: 1rem; 
    
}

blockquote p {
    font-size: 0.7em !important;
}

#header {
    display: none;
}

/*
body {
  counter-reset: h1;
}
h1::before {
  counter-increment: h1;
  content: counter(h1) ". ";
}
*/


:root {
      --my-icon-color: #1F691B;
    }
```{css}

#| echo: FALSE
