movie_assignment.log
movie_list.log
movie_tropes.log
trope_datasheet.log
movie_assignment.html
MoviewReviewForm.docx
movie_assignment.docx
Tropes_in_films_an_initial_analysis.pdf
journal.pone.0248881.pdf
