syllabus_IDS2935_rain_forests.log
IDS2935_syllabus.log
sectios_for_webpage
IDS2935_syllabus_binder.log
syllabus_FutureOfRainForests_IDS2935.log
syllabus_FutureOfRainForests_IDS2935.html
course_outline.log
course_outline.pdf
faq.html
faq.log
faq.tex
syllabus_FutureOfRainForests_WIS2323.log
